<!-- Row -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <!-- <div class="card-header bg-primary">
        <h4 class="mb-0 text-white">
          Ingrese la información del nuevo usuario
        </h4>
      </div> -->
      <form [formGroup]="questionForm">
        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="control-label">Dominio</label>
                  <select
                    class="form-control form-select"
                    formControlName="domain"
                  >
                    <option [ngValue]="null" disabled>
                      Seleccione el dominio
                    </option>

                    <option
                      *ngFor="let domain of domains"
                      [ngValue]="domain.value"
                    >
                      {{ domain.label }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="control-label">Pregunta</label>
                  <textarea
                    type="text"
                    class="form-control"
                    placeholder="Escriba la pregunta"
                    formControlName="announcement"
                    rows="4"
                  ></textarea>
                  <!-- <small class="form-control-feedback">
                      This is inline help
                    </small> -->
                </div>
              </div>
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-9">
                <div class="mb-3">
                  <label class="control-label">Opción A</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Escriba la opción A"
                    formControlName="optionA"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-4">
                  <input
                    type="radio"
                    name="answer"
                    value="a"
                    formControlName="answer"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="mb-3">
                  <label class="control-label">Opción B</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Escriba la opción B"
                    formControlName="optionB"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-4">
                  <input
                    type="radio"
                    name="answer"
                    value="b"
                    formControlName="answer"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="mb-3">
                  <label class="control-label">Opción C</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Escriba la opción C"
                    formControlName="optionC"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-4">
                  <input
                    type="radio"
                    name="answer"
                    value="c"
                    formControlName="answer"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="mb-3">
                  <label class="control-label">Opción D</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Escriba la opción D"
                    formControlName="optionD"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-4">
                  <input
                    type="radio"
                    name="answer"
                    value="d"
                    formControlName="answer"
                  />
                </div>
              </div>
            </div>

            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="control-label">Feedback</label>
                  <div class="d-flex justify-content-around">
                    <div class="form-check">
                      <input
                        type="radio"
                        id="videoRadio"
                        name="fileRadio"
                        class="form-check-input"
                        value="video"
                        (click)="changeRadioFeedback('video')"
                        checked
                      />
                      <label class="form-check-label" for="videoRadio"
                        >Video</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        type="radio"
                        id="imageRadio"
                        name="fileRadio"
                        class="form-check-input"
                        value="image"
                        (click)="changeRadioFeedback('image')"
                      />
                      <label class="form-check-label" for="imageRadio"
                        >Imagen</label
                      >
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="https://www.youtube.com"
                    formControlName="feedbackURL"
                    *ngIf="feedbackType === 'video'"
                  />
                  <fieldset class="form-group" *ngIf="feedbackType === 'image'">
                    <input
                      type="file"
                      class="form-control-file"
                      accept="image/*"
                      formControlName="feedbackImage"
                      (change)="changeFileFeedback($event)"
                    />
                  </fieldset>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="control-label">Imagen</label>
                  <fieldset class="form-group">
                    <input
                      type="file"
                      class="form-control-file"
                      accept="image/*"
                      formControlName="file"
                      (change)="changeFile($event)"
                    />
                  </fieldset>
                </div>
              </div>
            </div>
            <!-- Row -->
            <!-- <div class="row">
              <div class="col-md-12">
                <img [src]="urlImagen" />
              </div>
            </div> -->
          </div>

          <div class="form-actions">
            <div class="card-body button-group">
              <button
                type="submit"
                class="btn btn-light-primary text-primary"
                #buttonSave
                (click)="saveQuestion(buttonSave)"
              >
                <i class="fa fa-check"></i> {{ btnSaveLabel }}
              </button>
              <button type="button" class="btn btn-light-danger text-danger">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Row -->
