<!--- Complete Table -->
<div class="card">
  <div class="card-body">
    <!-- <h4 class="card-title mb-0"><span class="lstick"></span>Complete Table</h4> -->

    <div class="d-flex mt-3">
      <!-- <input type="text" placeholder="Search" class="form-control w-auto" /> -->
      <a type="button" class="btn btn-primary ms-auto" routerLink="new">
        + Añadir Pregunta
      </a>
    </div>
    <table class="table table-striped border mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Dominio</th>
          <th>Enunciado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            {{ question.domain }}
          </td>
          <td>
            {{ question.announcement }}
          </td>

          <td width="100px" class="text-center">
            <!-- <i-feather
              name="edit-3"
              class="feather-sm text-info me-2 pointer"
            ></i-feather> -->
            <i-feather
              name="trash-2"
              class="feather-sm text-danger pointer"
              (click)="deleteQuestion(question._id)"
            ></i-feather>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--- End Complete Table -->
